@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome - v1.0</h1>
        <img src="~/img/Ninjacat.png" />
    </div>

