@{
    ViewData["Title"] = "Home Page";
}

@* <div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div> *@

<div class="text-center" style="background-color: @Conf["colour"];">
    <h1 class="display-4">Welcome the @Conf["site"] site</h1>
    <dl class="text-left">
        <dt class="lefty">DB connection string</dt>
        <dd class="lefty">@Conf["dbconn"]</dd>

        <dt class="lefty">Auth URL string</dt>
        <dd class="lefty">@Conf["auth"]</dd>
    </dl>
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
